@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body {
  margin: 0;
  font-family: "Sniglet", system-ui !important;
  color: #765539;
  background: color #f8f9fb;
  overflow-x: hidden;
}

.heading {
  z-index: 2;
}

.content {
  z-index: 2;
}

/* nav bar */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #77b8c6, #77b8c6);
  padding: 10px !important;
}

.navbar .container-fluid {
  background-color: #77b8c6;
}

.navbar-brand img {
  height: 100px;
  padding-left: o;
  border-radius: 50px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #f8f9fb !important;
  font-weight: 400;
  font-size: 25px;
  float: right;
  text-align: left;
}

.navbar-toggler-icon {
  background-color: #f8f9fb;
  font-size: 20px !important;
  border: none;
}

.nav-item .btn-primary {
  font-size: 25px;
  box-shadow: none;
  border: none;
  border-radius: 20px;
  width: 100px;
  background-image: linear-gradient(to right, #ffcfe3, #fdb0ce);
}

/* animal banner */

.banner-img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 500px;
}

.container-fluid {
  background-color: #f8f9fb;
}

/* <!-- footer section --> */
#footer {
  background-color: #77b8c6;
  color: #f8f9fb;
}

.footer-img {
  width: 100%;
}

.container h5 {
  text-align: center;
}
/* .footer-box {
  padding: 20px;
} */

.footer-box2 {
  text-align: center;
}

/* @media only screen and (min-width: 500px) {
  .footer-box2 {
    padding-left: 60px;
  }
} */

.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .bi {
  margin-right: 8px;
  font-size: 15px;
  height: 20px;
  width: 20px;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
}

.footer-box .form-contral {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #ffcfe3, #fdb0ce);
}

hr {
  background-color: #f8f9fb;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
