body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  width: 80%;
  margin: 20px auto;
  text-align: justify;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* gallery */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0e9e9;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  margin: 10px;
}

.photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/*  <!-- findPets Section --> */
#services {
  padding: 80px 0;
}

#services h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.service-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 10px;
}

.services {
  padding: 20px;
}

.services h5 {
  padding: 5px;
  margin-top: 25px;
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  margin-top: 40px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #00ff7e, #1f3d90);
}

/* <!-- Social Media Section --> */
#social-media {
  background: #f8f9fa;
  padding: 100px 0;
}

#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img {
  width: 60px;
  transition: 0.5s;
}

.social-icons a:hover img {
  transform: translateY(-10px);
}

/* <!-- footer section --> */
#footer {
  background-image: linear-gradient(to right, #00ff7e, #1f3d90);
  color: #fff;
}

.footer-img {
  width: 100%;
}

.footer-box {
  padding: 20px;
}

.footer-box2 {
  padding-left: 60px !important;
}

.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .bi {
  margin-right: 8px;
  font-size: 25px;
  height: 20px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #00ff7e, #1f3d90);
}

.footer-box .form-contral {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none;

  margin-top: 30px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #00ff7e, #1f3d90);
}

hr {
  background-color: #fff;
}

.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
